<!DOCTYPE html>
<html>
<head>
  <title>ImagesEngine</title>
  <%= stylesheet_link_tag    "images-engine/application", :media => "all" %>
  <%= javascript_include_tag "images-engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
